{
	"printWidth": 240,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"eslintIntegration": false
}
